
.filter-container{
    height: 130px;
    display: flex;
    align-items: center; 
}

/* REACT SELECT*/

.css-b62m3t-container{
    width: 100%;
    max-width: 270px;
}

.filter-select-citys__multi-value__label{
    color: var(--primary-color) !important;
    background-color: var(--white-color) !important;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.filter-select-citys__multi-value__remove{
    background-color: var(--white-color) !important;
}

.filter-select-citys__indicator-separator{
    display: none;
}

.filter-select-citys__clear-indicator path{
    fill: var(--primary-color) !important;
}

.filter-select-citys__dropdown-indicator path{
    fill: var(--primary-color) !important;
}

.filter-select-citys__option{
    fill: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

/* ---- */



@media (min-width: 576px){

    .filter-container{
        padding-left: 40px;
    }

    .filter-select-citys{
        width: 270px !important;
    }
}
